.new-target {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.new-target__title {
    text-align: center;
}

.new-target__button {
    margin: 20px auto;
    text-decoration: none;
    background-color: coral;
    padding: 5px;
    border-radius: 50px;
    border: 2px solid black;  
    width: 130px;
    color: white;
    display: flex;
    justify-content: center;
}

.new-target__button:hover {
    background-color: rgb(180, 207, 81);
    cursor: pointer;
}

.new-target__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* .btn {
    display: inline-block;
    background-color: yellow;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;

    font-family: label;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: red;

    box-shadow: 0 3px 0 red;
    cursor: pointer;
    transition: all 100ms linear;
    
    /* :hover {
        @include transform(translateY(-4px));
        box-shadow: 0 7px 0 red;
    } */

    /* :focus { outline: 0; } */
/* } */