.new-target {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.new-target__title {
    text-align: center;
}

.new-target__button {
    margin: 20px auto;
    text-decoration: none;
    background-color: coral;
    padding: 5px;
    border-radius: 50px;
    border: 2px solid black;  
    width: 130px;
    text-align: center;
    color: white;
}

.new-target__button:hover {
    background-color: rgb(180, 207, 81);
    cursor: pointer;
}