.my_targets {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.target_name {
    font-size: 25px;
    color: rgb(17, 19, 177);
    font-style: oblique;
}

.my_purpose {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.chart{
    display: flex;
    flex-direction: column; 
    background-color: rgb(197, 247, 230);
    border-radius: 5px;
    padding: 10px;
    border: solid 1px black;
    margin-bottom: 30px;
}

.chart_text {
    display: flex;
    justify-content: space-between;  
}

.grafik {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    text-align: center;
}
.meter {
    width: 100%;
    height: 20px;  
    position: relative;
    background: rgb(98, 179, 179);
    border-radius: 50px;
    padding: 5px;
    margin: 10px 0;
    border: solid 0.3px rgb(132, 113, 238);
}

.meter > span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(96, 221, 129);
}

.finish {
    display: flex;
    font-size: 14px;
}

.new_chart {
    text-decoration: none;
    margin: 10px auto;
    width: 120px;
    border-radius: 50px;
    background-color: coral;
    padding: 5px;
    color: white;
    border: 2px solid black;
}

.new_chart:hover {
    background-color: rgb(180, 207, 81);
}